# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment
.env*

# Sanity
techask-studio/
seed.mjs
seed-hero.mjs
sync-cms.mjs
sync-labels.mjs
sync-navbar.mjs
sync-real-data.mjs
sync-thankyou.mjs
sync-video.mjs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
